html, body{
  margin: 0;
  padding: 0;
  min-height: 100%;
  overflow-x: hidden;
  background: #42b2d1;
  color: #444;
  font-size: 20px;
  background: radial-gradient(farthest-side at bottom right, #77efbf, #70c8e0);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Oxygen;
}

h1{
  margin-top: 0;
  font-family: Fredoka One;
  font-weight: 250;
  background: rgba(0,0,0,0.2);
  color: white;
  width: 100%;
  padding: 8px 1em 8px 0.3em;
}

h2{
  text-align: center;
  font-size: 29px;
}

h3{
  margin-left: 1em;
  font-size: 23px;
}

#header-sim{
  color: rgba(255,255,255,0.7);
  font-size: 24px;
}

a{
  color: #A77;
  text-decoration: underline;
  transition: color 0.5s;
}

a:hover{
  color: #C99;
}

sup{
  color: #b33;
}

input[type="text"]{
  background: rgba(0,0,0,0);
  color: #333;
  font-family: Oxygen;
  width: 90%;
  margin-left: 5%;
  height: 40px;
  text-align: center;
  font-size: 16px;
  border: 2px solid #333;
  border-radius: 20px;
  transition: border-color 0.4s, background 0.4s, color 0.4s;
}

input[type="text"]:focus{
  background: rgba(0,0,0,0.4);
  color: #fff;
  outline: none;
  border-color: #fff;
}

input[type="checkbox"]{
  display: none;
}

input[type="checkbox"] +label .checkbox-display{
  display:inline-block;
  background-color: rgba(0,0,0,0);
  width:20px;
  height:20px;
  border: 3px solid white;
  border-radius: 5px;
  margin:-1px 10px 0 3em;
  vertical-align:middle;
  cursor:pointer;
  transition: background-color 0.2s;
}

input[type="checkbox"]:checked + label span{
  background-color:#444;
}

input[type="radio"]{
  display: none;
}

input[type="radio"] +label .checkbox-display{
  display:inline-block;
  background-color: rgba(0,0,0,0);
  width:17px;
  height:17px;
  border: 3px solid white;
  border-radius: 20px;
  margin:-1px 10px 3px 3em;
  vertical-align:middle;
  cursor:pointer;
  transition: background-color 0.2s;
}

input[type="radio"]:checked + label span{
  background-color: #444;
}

#sas-reg-select{
  transition: color 0.4s;
}

#sas-submit{
 font-size: 22px;
 background-color: rgba(0,0,0,0);
 padding: 7px;
 width: 90%;
 text-align: center;
 margin: 50px 5% 50px 5%;
 border: 2px solid #333;
 border-radius: 30px;
 transition: border-color 0.4s, background 0.4s, color 0.4s;
}

#sas-submit:hover{
  cursor: pointer;
  background: rgba(0,0,0,0.4);
  color: #fff;
  outline: none;
  border-color: #fff;
}
p{
  text-align: center;
}
