body{
  background: url("../Resources/Images/HomeBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.no-dec{
  text-decoration: none;
}

.panel{
  font-family: Poppins;
  width: 90%;
  margin: 0 auto;
  background: white;
  color: #222;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
  margin-top: 40px;
  padding: 20px 3% 20px 3%;
  transition: padding 0.2s;
}

.panel:hover{
  padding: 20px 4% 20px 4%;
}

.red-panel{
  margin-top: 10px;
  color: white;
  background-color: #e0615d;
}

.green-panel{
  margin-top: 10px;
  color: white;
  background-color: #34a17a;
}

.yellow-panel{
  margin-top: 10px;
  color: #333;
  background-color: #ffff60;
}

.panel-title{
  text-align: center;
  font-size: 30px;
  margin-bottom: 5px;
  font-weight: 600;
}

.button{
  padding-top: 7px;
  padding-bottom: 5px;
  width: 30%;
  min-width: 200px;
  margin: 0 auto;
  margin-top: 30px;
  border: 2px solid #333;
  color: #333;
  text-align: center;
  border-radius: 5px;
  transition: width 0.5s, background 0.5s, color 0.5s;
}

.button:hover{
  background: #333;
  color: #fff;
  width: 70%;
}
