html, body{
  margin: 0;
  width: auto;
  height: 100%;
  color: white;
}

.spacehold{
  height: 50px;
}

#nav-wrap{
  position: fixed;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,1), rgba(55,55,55,0));
}

nav{
  width: 100%;
  font-size: 17px;
  font-weight: 600;
  display: table-row;
}

.nav-link{
  color: #fff;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link:hover{
  color: #79e3b7;
}

.nav-button{
  font-family: Montserrat;
  display: table-cell;
  padding: 15px 25px 15px 25px;
  text-align: center;
}
