body{
  background: #333344;
  color: #333;
  font-family: Poppins, sans-serif;
}

article{
  background: #ffffff;
  width: 94%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px 2% 20px 2%;
}

h1{
  font-family: Poppins, Arial;
  color: #333;
  font-size: 25px;
  text-align: center;
}

h2{
  font-family: Poppins, Arial;
  color: #000;
  font-size: 22px;
  text-align: left;
}

table, tr{
  width: 100%;
}

td{
  width: 50%;
  padding-bottom: 30px;
}

.a-button{
  width: 90%;
  height: 50px;
  text-align: center;
}

#sen-button{
  background-color: #f65645;
}

#hor-button{
  background-color: #199f6f;
}
