html,body{margin:0;min-height:100%;overflow-x:hidden;background-color:#333;color:#fff;font-size:20px;background-repeat:no-repeat;background-size:cover;font-family:Varela Round}h1{margin-top:0;font-family:Fredoka One;font-weight:250;background:rgba(0,0,0,0.2);color:white;width:100%;padding:8px 1em 8px 0.3em}.blk{color:#333;padding:12px 20px 7px 20px;margin-bottom:5px;border-radius:10px}#header-sim{color:rgba(255,255,255,0.7);font-size:24px}
