html {
	position: relative;
	min-height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	width: 100%; 
	margin: 0 0 40px 0; 
	padding: 0;
	padding-top: 50px;
}

body > .inner {
	visibility: hidden;
}

body.pg-loaded > .inner {
	visibility: visible;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
	line-height: 14px;
	font-size: 14px;
	background: radial-gradient(farthest-side at bottom right, #77efbf, #70c8e0);
	text-align: center;
	padding: 13px 0; 
	margin: 0;
	color: #fff !important;
	text-shadow: 0px 0px 3px rgb(0, 0, 0), 0px 0px 5px rgb(0, 0, 0);
	font-weight: bold;
}

hr.aussimhr { 
border: 0; 
height: 0; 
/* Firefox... */ 
box-shadow: 0 0 10px 1px black; 
} 

hr.aussimhr:after { 
/* Not really supposed to work, but does */ 
content: "\00a0"; 
/* Prevent margin collapse */ 
}

.inner {
	width: 100%; 
	height: 100%;
	padding-top: 50px;
}

@media (min-width: 768px) {
	.modal-xl {
		width: 90%;
		max-width:1200px;
	}
}

.navbar-default .navbar-nav > li > a {
    color: #fff !important;
	text-shadow: 0px 0px 3px rgb(0, 0, 0), 0px 0px 5px rgb(0, 0, 0);
	font-weight: bold;
}

.navbar-default .navbar-brand {
    color: #fff !important;
	text-shadow: 0px 0px 3px rgb(0, 0, 0), 0px 0px 5px rgb(0, 0, 0);
	font-weight: bold;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #ddd !important;
	text-shadow: 0px 0px 3px rgb(0, 0, 0), 0px 0px 5px rgb(0, 0, 0);
	font-weight: bold;
}

.navbar-default {
	background: radial-gradient(farthest-side at bottom right, #77efbf, #70c8e0);
	color:#ddd !important;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	
	
	border: 1px dashed Gray !important;
	
}

h1 {
    margin-top: 0 !important;
	margin-bottom: 0 !important;
	margin: 0 !important;
    font-family: Fredoka One !important;
    font-weight: 250 !important;
    color: white !important;
    width: 100% !important;
    padding: 0 !important;
	font-size: 28px !important;
	line-height: 1.0 !important;
	-webkit-margin-before: 0px !important;
    -webkit-margin-after: 0px !important;
    -webkit-margin-start: 0px !important;
    -webkit-margin-end: 0px !important;
	position: relative !important;
	top: -5px;
}